body{
background: url(https://github.com/vkedah661/vkedah661.github.io/blob/master/img/U62ybAJbehQ.jpg?raw=true) no-repeat;
 background-size: 100%;
 margin-top : 0px;
 background-size: 100%;
}
div{
font-size:25px;
text-align: center;

}
